@model UtopiaCatering.Models.PurchaseOrder

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PurchaseOrder</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrossAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrossAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Discount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Discount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Due)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Due)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaidAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaidAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Organization)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Organization.OrganizationID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PoID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
